/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * itc-officina-sans-pro:
 *   - http://typekit.com/eulas/00000000000000003b9b1fdc
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-01-27 23:15:35 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=eta8qvt&ht=tk&f=39388&a=6276659&app=typekit&e=css");

@font-face {
font-family:"itc-officina-sans-pro";
src:url("https://use.typekit.net/af/0a9ec1/00000000000000003b9b1fdc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/0a9ec1/00000000000000003b9b1fdc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/0a9ec1/00000000000000003b9b1fdc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-style:normal;font-weight:500;
}

.tk-itc-officina-sans-pro { font-family: "itc-officina-sans-pro",sans-serif; }
