.article-card {
  width: 95vw;
  margin: 10px;
}

.article-title-div {
  float: left;
}

.article-button-div {
  float: right;
}

.article-time-div {
  text-align: center;
  float: right;
}

.card-header {
  border-bottom: 1px solid white !important;
}

.card-footer {
  border-top: 1px solid white !important;
}
