/* Article Cards */
.article-card {
  width: 95vw;
  margin: 10px;
}

.article-card-header {
  grid-column-start: 1;
  grid-column-end: 3;
}

.article-card-title {
  font-size: 1.5rem;
}

.article-card-body {
  display: grid;
  grid-template-columns: 20% 80%;
}

.article-card-image {
  max-height: auto;
  max-width: 80%;
  grid-column-start: 1;
  border: 1px solid white;
  border-radius: 5px;
}

.with-image {
  grid-column-start: 2;
}

.without-image {
  grid-column-start: 1;
  grid-column-end: 3;
}

.article-card-text {
  overflow-y: auto;
  max-height: 8em;
}

.title-div {
  float: left;
}

.article-button-div {
  float: right;
}

.time-div {
  text-align: center;
  float: right;
}

.card-header {
  border-bottom: 1px solid white !important;
}

.card-footer {
  border-top: 1px solid white !important;
}

/* AddFeed */
.add-feed-card {
  text-align: center;
  padding: 5px;
  width: 30vw;
}

/* FeedCard */
.feed-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.feed-card {
  margin: 5px;
  text-align: center;
  width: fit-content;
  border: 1px solid white;
}

.feed-card-title {
  float: right;
}

@media only screen and (max-width: 600px) {
  .feed-cards-container {
    flex-flow: column;
  }
  .feed-card {
    margin: 5px auto;
    width: 90vw;
  }
}

/* SignUp */
.signup-card {
  text-align: center;
  padding: 5px;
  width: 30vw;
}
