.loading-bubbles {
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.loading-spinner {
  position: absolute;
  top: 50vh;
  left: 50vw;
  margin-top: -50px;
  margin-left: -50px;
  width: 30%;
  height: 30%;
}
