$primary-color: white;
$primary-color-alt: #ddd;
$secondary-color: #343a40;
$secondary-color-alt: #49525a;
$border: 1px solid white;
$border-alt: 1px solid #343a40;
$border-dashed: 0.1px dashed white;
$button-padding: 10px;
$border-radius: 0;
$button-font-size: 16px;
$break-small: 600px;

.navigationbar {
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
  border-bottom: $border;
  position: sticky;
  top: 0;
  z-index: 2;

  .navbtn {
    height: 100%;
  }

  .navbtn:hover {
    background-color: $primary-color;
  }

  .navbtn-b:hover {
    background-color: $primary-color;
  }

  a {
    float: left;
    font-size: $button-font-size;
    color: $primary-color;
    text-align: center;
    .navitem {
      color: $secondary-color;
    }
    .navbtn:hover {
      color: $primary-color;
    }
    .navbtn-b:hover {
      color: $secondary-color;
      border: $border;
    }
  }
  a:hover {
    text-decoration: none;
  }
  .navitem {
    padding: $button-padding;
    background-color: $primary-color;
    border: $border;
  }

  .navitem:hover {
    background-color: $secondary-color;
  }

  .navitem-b {
    padding: $button-padding;
    background-color: $secondary-color;
  }

  .dropdown {
    position: relative;
    display: inline-block;

    .dropbtn {
      color: $primary-color;
      background-color: $secondary-color;
      padding: $button-padding;
      font-size: $button-font-size;
      border: none;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $primary-color;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      a {
        color: $secondary-color;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
      }
      a:hover {
        background-color: $primary-color-alt;
      }
    }
  }

  .dropdown:hover {
    .dropdown-content {
      display: flex;
      flex-direction: column;
    }
  }
  .dropbtn:hover {
    background-color: $primary-color;
    color: $secondary-color;
    font-weight: bold;
  }
}

.box {
  background: $secondary-color;
  border: $border;
  color: $primary-color;
}

.article-card {
  width: 50%;
  margin: 5px auto;
  background: $secondary-color;
  border: $border;
  color: $primary-color;
  .article-header {
    position: relative;
    height: fit-content;
    min-height: 90px;
    padding: 5px;
    h6 {
      margin-bottom: 0 !important;
    }
    p {
      margin-bottom: 0 !important;
    }
    .article-image {
      height: auto;
      width: auto;
      max-width: 8em;
      max-height: 80px;
      float: left;
      border: $border;
      margin-right: 5px;
      @media screen and (max-width: $break-small) {
        float: none;
      }
    }
    .article-button-div {
      position: absolute !important;
      right: 5px;
      bottom: 5px;
      z-index: 1;
      border-radius: $border-radius;
      .btn {
        border-radius: $border-radius !important;
      }
      @media screen and (max-width: $break-small) {
        position: static !important;
        margin: 5px;
      }
    }
  }
  .hidden-body {
    display: none;
  }
  .article-body {
    border-top: $border-dashed;
    padding: 5px;
  }
  @media screen and (max-width: $break-small) {
    width: 95vw;
    text-align: center;
  }
}

.signup-card {
  position: fixed;
  top: 50%;
  left: 50%;
  height: fit-content;
  width: 400px;
  margin-top: -121.3px;
  margin-left: -200px;
  padding: 15px;
  .btn {
    border-radius: $border-radius;
  }
  @media screen and (max-width: $break-small) {
    margin-top: -134px;
    margin-left: 0;
    left: 0;
    width: 100%;
    height: fit-content;
  }
}

.login-card {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 340px;
  margin-top: -115.3px;
  margin-left: -170px;
  padding: 15px;
  .form-div {
    min-height: 30px;
    margin: 5px;
  }
  .btn {
    border-radius: $border-radius;
  }
  .login-btn-grp {
    @media screen and (max-width: $break-small) {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: $break-small) {
    width: 90vw;
    height: fit-content;
    margin-left: -45vw;
    margin-top: -144px;
  }
}

.feed-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .btn {
    border-radius: $border-radius;
  }
  .feed-card {
    position: relative;
    width: 300px;
    max-width: 95vw;
    margin: 5px;
    text-align: center;
    height: fit-content;
    .feed-header {
      height: 30px;
      .feed-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
      }
    }
    .feed-body {
      padding: 5px;
      label {
        float: left;
      }
      input {
        float: right;
      }
      .tags-div {
        display: inline-block;
      }
    }
  }
}

.add-feed-card {
  position: fixed;
  top: 50%;
  left: 50%;
  height: fit-content;
  width: 400px;
  margin-top: -92.3px;
  margin-left: -200px;
  padding: 15px;
  .btn {
    border-radius: $border-radius;
  }
  .form-div {
    display: block;
    input {
      float: right;
      width: 75%;
    }
    .explanation {
      float: right;
    }
    margin: 10px;
  }

  @media screen and (max-width: $break-small) {
    width: 90vw;
    margin-left: -45vw;
    margin-top: -144px;
  }
}
