/*

This is all legacy css. The article modal now shares most of its css with the article cards in cards.css; what remains of the css unique to modals has moved over to cards.css.

.modal {
  max-height: 90vh !important;
}

.modal-content {
  background-color: #343a40 !important;
  color: white;
  border: 1px white solid;
  overflow-y: scroll;
}

.modal-dialog {
  max-width: 95vw !important;
  width: 95vw !important;
}

.modal-body {
  float: left;
  position: relative;
}

.modal-image {
  max-width: 25%;
  float: left;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .modal {
    height: 95vh;
  }
  .time-div {
    display: none;
  }
  #modal-title {
    height: 10vh;
    overflow-y: scroll;
    font-size: 1em;
  }
  .modal-body {
    height: 50vh;
    overflow-y: scroll;
  }
  .modal-footer {
    height: 10vh;
  }
} */
