.modal-content {
  background-color: #343a40 !important;
  color: white;
  border: 1px white solid;
}

.modal-dialog {
  max-width: 95vw !important;
  width: 95vw !important;
}

.modal-body {
  float: left;
  position: relative;
}

.modal-image {
  max-width: 25%;
  float: left;
  margin-right: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
